@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap');

:root {
  --rood: #dd3038;
  --oranje: #e7613a;
  --licht-oranje: #FDF4F2;
  --zwart: #292929;
  --wit: #FFFFFF;

}

*{
  box-sizing: border-box;
}

h1 {
  color: var(--rood)
}




body {
  font-family: Quicksand, Roboto Condensend, Ariel, sans-serif;
}